.box {
  background: rgba(255, 255, 255, 0.5);
  padding: 3rem;
  padding-top: 1rem;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
  box-shadow: 2px 5px 4px #888888;
}

.content-header > h1 {
  font-weight: 800;
  color: #088178;
}

.btn-info,
.pagination > .active > a,
.btn-primary {
  background-color: #088178;
  border-color: #076d66;
  border-radius: 4px;
}

.btn-success {
  background-color: #03aed9;
  border-color: #0192b6;
}

.btn.btn-flat {
  border-radius: 4px;
  width: 10rem;
}

.col-sm-12 {
  text-align: center;
  width: 100%;
  vertical-align: middle;
}

.table > caption + thead > tr:first-child > td,
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > td,
.table > thead:first-child > tr:first-child > th {
  border-top: 0;
  vertical-align: middle;
  text-align: center;
  background-color: #222;
  color: #fff;
}
